@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /*pink-lace*/
  --second-50: 252 ,247 ,253;
  --second-100: 247 ,238 ,249;
  --second-200: 237 ,212 ,241;
  --second-300: 231 ,198 ,236;
  --second-400: 216 ,161 ,223;
  --second-500: 199 ,125 ,207;
  --second-600: 181 ,96 ,189;
  --second-700: 157 ,76 ,164;
  --second-800: 131 ,66 ,135;
  --second-900: 106 ,54 ,109;
  --second-950: 74 ,30 ,77;



  /*revolver*/
  --third-50: 244 ,240 ,253;
  --third-100: 235 ,227 ,252;
  --third-200: 222 ,205 ,248;
  --third-300: 202 ,174 ,243;
  --third-400: 187 ,142 ,235;
  --third-500: 176 ,114 ,226;
  --third-600: 166 ,87 ,212;
  --third-700: 147 ,71 ,187;
  --third-800: 118 ,60 ,151;
  --third-900: 94 ,55 ,120;
  --third-950: 49 ,28 ,61;

  /*confetti*/
  --theme-50: 251 ,251 ,235;
  --theme-100: 246 ,245 ,203;
  --theme-200: 238 ,235 ,154;
  --theme-300: 227 ,216 ,90;
  --theme-400: 219 ,198 ,52;
  --theme-500: 203 ,176 ,39;
  --theme-600: 175 ,139 ,31;
  --theme-700: 140 ,103 ,28;
  --theme-800: 117 ,83 ,30;
  --theme-900: 100 ,69 ,31;
  --theme-950: 58 ,36 ,14;
}

.h-mobile-full {
  height: 100vh;
  height: 100svh;
}