@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /*--spring-green*/
  /*--theme-50: 253 ,245 ,243;*/
  /*--theme-100: 251 ,232 ,229;*/
  /*--theme-200: 248 ,214 ,208;*/
  /*--theme-300: 242 ,185 ,175;*/
  /*--theme-400: 233 ,144 ,128;*/
  /*--theme-500: 220 ,107 ,87;*/
  /*--theme-600: 199 ,78 ,56;*/
  /*--theme-700: 167 ,65 ,46;*/
  /*--theme-800: 139 ,56 ,41;*/
  /*--theme-900: 116 ,52 ,40;*/
  /*--theme-950: 62 ,24 ,17;*/

  --theme-50: 246, 245 ,240;
  --theme-100: 231, 231 ,218;
  --theme-200: 209, 208 ,183;
  --theme-300: 183, 179 ,141;
  --theme-400: 162, 154 ,109;
  --theme-500: 147, 137 ,95;
  --theme-600: 115, 104 ,73;
  --theme-700: 102, 89 ,66;
  --theme-800: 87, 76 ,60;
  --theme-900: 77, 66 ,54;
  --theme-950: 43, 36 ,29;
}


.glass {
  background: linear-gradient(
          268deg,
          rgba(255, 171, 188, 0.1) 0%,
          rgba(164, 179, 255, 0.1) 97%
  );
  box-shadow:
          inset 0px 5px 5px 0px rgba(255, 255, 255, 0.1),
          inset 0px -5px 5px 0px rgba(164, 179, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.initial-lenis {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.h-mobile-full {
  height: 100vh;
  height: 100svh;
}