@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /*--spring-green*/
  --theme-50: 253 ,245 ,243;
  --theme-100: 251 ,232 ,229;
  --theme-200: 248 ,214 ,208;
  --theme-300: 242 ,185 ,175;
  --theme-400: 233 ,144 ,128;
  --theme-500: 220 ,107 ,87;
  --theme-600: 199 ,78 ,56;
  --theme-700: 167 ,65 ,46;
  --theme-800: 139 ,56 ,41;
  --theme-900: 116 ,52 ,40;
  --theme-950: 62 ,24 ,17;

  /*--theme-50: 239 ,254 ,246;*/
  /*--theme-100: 217 ,255 ,235;*/
  /*--theme-200: 181 ,253 ,215;*/
  /*--theme-300: 124 ,249 ,184;*/
  /*--theme-400: 83 ,238 ,158;*/
  /*--theme-500: 19 ,212 ,113;*/
  /*--theme-600: 9 ,176 ,91;*/
  /*--theme-700: 11 ,138 ,73;*/
  /*--theme-800: 15 ,108 ,61;*/
  /*--theme-900: 14 ,89 ,53;*/
  /*--theme-950: 1 ,50 ,27;*/
}


.glass {
  background: linear-gradient(
          268deg,
          rgba(255, 171, 188, 0.1) 0%,
          rgba(164, 179, 255, 0.1) 97%
  );
  box-shadow:
          inset 0px 5px 5px 0px rgba(255, 255, 255, 0.1),
          inset 0px -5px 5px 0px rgba(164, 179, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.initial-lenis {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.h-mobile-full {
  height: 100vh;
  height: 100svh;
}